$--color-primary: #2A3D51;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-date-table td.end-date span {
  background-color: red;
}